$f-colors-general: (
  white: #FFFFFF,
  black: #000000,
  grey: #BEBEBE,
  yellow: #EFE5C3,
  purple--light: #442A3D,
  purple--dark: #31142A,
  green--light: #5EC2BD,
  green--dark: #2C5E5B,
  red--soft: #C92E58,
  red--hard: #C51414,
) !default;