// Inconsolata - Regular
@font-face {
  font-family: Inconsolata-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/Inconsolata-Regular.woff2') format('woff2'),
    url('~@fonts/Inconsolata-Regular.woff') format('woff'),
    url('~@fonts/Inconsolata-Regular.ttf') format('truetype'),
    url('~@fonts/Inconsolata-Regular.eot') format('embedded-opentype');
}

// Inter - Regular
@font-face {
  font-family: Inter-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/Inter-Regular.woff2') format('woff2'),
    url('~@fonts/Inter-Regular.woff') format('woff'),
    url('~@fonts/Inter-Regular.ttf') format('truetype'),
    url('~@fonts/Inter-Regular.eot') format('embedded-opentype');
}

// Liberator SIROKO - Heavy
@font-face {
  font-family: LiberatorSIROKO-Heavy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/LiberatorSIROKO-Heavy.woff2') format('woff2'),
    url('~@fonts/LiberatorSIROKO-Heavy.woff') format('woff'),
    url('~@fonts/LiberatorSIROKO-Heavy.ttf') format('truetype'),
    url('~@fonts/LiberatorSIROKO-Heavy.eot') format('embedded-opentype');
}

// Liberator SIROKO - Light
@font-face {
  font-family: LiberatorSIROKO-Light;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/LiberatorSIROKO-Light.woff2') format('woff2'),
    url('~@fonts/LiberatorSIROKO-Light.woff') format('woff'),
    url('~@fonts/LiberatorSIROKO-Light.ttf') format('truetype'),
    url('~@fonts/LiberatorSIROKO-Light.eot') format('embedded-opentype');
}

// Liberator SIROKO - Medium
@font-face {
  font-family: LiberatorSIROKO-Medium;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/LiberatorSIROKO-Medium.woff2') format('woff2'),
    url('~@fonts/LiberatorSIROKO-Medium.woff') format('woff'),
    url('~@fonts/LiberatorSIROKO-Medium.ttf') format('truetype'),
    url('~@fonts/LiberatorSIROKO-Medium.eot') format('embedded-opentype');
}

// Liberator SIROKO - Outline
@font-face {
  font-family: LiberatorSIROKO-Outline;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/LiberatorSIROKO-Outline.woff2') format('woff2'),
    url('~@fonts/LiberatorSIROKO-Outline.woff') format('woff'),
    url('~@fonts/LiberatorSIROKO-Outline.ttf') format('truetype'),
    url('~@fonts/LiberatorSIROKO-Outline.eot') format('embedded-opentype');
}

// Liberator SIROKO - Thin
@font-face {
  font-family: LiberatorSIROKO-Thin;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@fonts/LiberatorSIROKO-Thin.woff2') format('woff2'),
    url('~@fonts/LiberatorSIROKO-Thin.woff') format('woff'),
    url('~@fonts/LiberatorSIROKO-Thin.ttf') format('truetype'),
    url('~@fonts/LiberatorSIROKO-Thin.eot') format('embedded-opentype');
}